* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
  width: 100%vh;
  height: 100%vh;
}

#wrapper {
  width: 500px;
  height: 100%;
  margin: 50px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.row {
  width: 500px;
  height: 100%;
}
.main-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 2px solid #e6e6e6;
  padding: 40px 50px;
}

.content {
  margin-bottom: 5px;
}

.content img {
  height: 50px;
  width: 175px;
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  left: 40px;
}

.username,
.password {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.btn {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.sub-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
  background-color: #fff;
}

.sign-up {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.sign-up a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

p {
  margin: auto;
  position: relative;
  left: 110px;
  padding: 5px;
}

.fb {
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  left: 50px;
}

.fb img {
  height: 15px;
  width: 15px;
  margin: auto;
  position: relative;
}

.fb a {
  text-decoration: none;
  cursor: pointer;
  color: #101baa;
  font-family: 'Overpass Mono', monospace;
  text-decoration: none;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.forgot {
  position: relative;
  left: 80px;
  color: #161d24;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
}

.app {
  justify-content: center;
}

.app p {
  position: relative;
  left: 150px;
}

.app a img {
  position: relative;
  left: 50px;
}

.footer {
  text-align: center;
}

.footer a {
  position: relative;
  padding: 10px;
  left: 60px;
  color: #161d24;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
}

input:focus {
  background-color: rgba(107, 107, 107, 0.178);
  outline: none;
}
